# Windows junk
desktop.ini
*.ini
Thumbs.db

# Drive temp
.tmp.drivedownload
.tmp.driveupload

# Env / config
*.ini
.env
desktop.ini

# Node / build (if needed later)
node_modules/
dist/

# Python
__pycache__/
*.pyc

# VS Code
.vscode/
adam-web-demo/
*.fbx
*.blend
*.stl
*.3mf
*.obj
*.gltf
*.glb
*.zip
*.rar
*.7z
*.bak
*.log
*.tmp
*.cache
*.DS_Store
*.sln
*.suo
*.user
*.userosscache
*.sln.docstates
*.vspscc
*.vssscc
*.pdb
*.ipch
*.aps
*.ncb

*.avi
*.mp4
*.mov
*.mp3
*.wav
*.fbx